docs filter=lfs diff=lfs merge=lfs -text
docs/images filter=lfs diff=lfs merge=lfs -text
docs/images/pcb_render.gif filter=lfs diff=lfs merge=lfs -text
docs/images/pcb_bottom.png filter=lfs diff=lfs merge=lfs -text
docs/images/pcb_top.png filter=lfs diff=lfs merge=lfs -text
docs/images/case_render.gif filter=lfs diff=lfs merge=lfs -text
hardware/case filter=lfs diff=lfs merge=lfs -text
hardware/case/bottom.stl filter=lfs diff=lfs merge=lfs -text
hardware/case/display_support.stl filter=lfs diff=lfs merge=lfs -text
hardware/case/top.stl filter=lfs diff=lfs merge=lfs -text
docs/images/assembled_front_close_up.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/case_close.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/with_aa_for_comparison.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/assembled_back.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/assembled_front.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/case_open.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/device.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/soil_moisture_showcase.gif filter=lfs diff=lfs merge=lfs -text
docs/images/assembled_back_close_up.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/case_close_back.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/case_render.mp4 filter=lfs diff=lfs merge=lfs -text
docs/images/pcb_render.mp4 filter=lfs diff=lfs merge=lfs -text
docs/images/soil_moisture_showcase.mp4 filter=lfs diff=lfs merge=lfs -text
hardware/case/resin/ filter=lfs diff=lfs merge=lfs -text
hardware/case/resin/bottom.stl filter=lfs diff=lfs merge=lfs -text
hardware/case/resin/top.stl filter=lfs diff=lfs merge=lfs -text
hardware/case/resin/display_support.stl filter=lfs diff=lfs merge=lfs -text
docs/images/* filter=lfs diff=lfs merge=lfs -text
docs/images/back_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/ filter=lfs diff=lfs merge=lfs -text
docs/images/docs/images/device_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/environmental_sensor_closeup_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/front_closeup_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/side_left_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/front_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/side_left_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/images/side_right_resin.jpg filter=lfs diff=lfs merge=lfs -text
docs/wiki filter=lfs diff=lfs merge=lfs -text
docs/wiki/* filter=lfs diff=lfs merge=lfs -text
